extends layout

block content

        div.navbar.navbar-inverse
            div.navbar-inner
                div
                    ul.nav
                        if(type == "PPC")
                            li.active
                                a(href="#{url}") local main site
                            span(style="color:white;") &#8226;
                        li
                            a(href="http://www.paulmitchell.edu") paulmitchell.edu
                        span(style="color:white;") &#8226;
                        li
                            if saveLead
                                a(href="http://directory.paulmitchell.edu/PPC") view all Paul Mitchell School locations
                            else
                                a(href="http://directory.paulmitchell.edu") view all Paul Mitchell School locations
        div(style="margin:0 auto; max-width:924px;")
            table(id="mainTable", cellpadding="0", cellspacing="0", border="0", style="max-width:924px; width:100%; min-height:100%; ")
                tr
                    td(id="mainTd", style="max-width:924px; background-image:url('/images/#{background}'); background-repeat:no-repeat;")
                        div.hidden-phone(style="text-align:right;")
                            img(id="logo", src="/images#{logowhite}", style="margin-right:95px")
                        div.visible-phone(style="text-align:center; padding-top:15px;")
                            div(style="width:55%; float:left;")
                                img(src="/images/mobileModel.png")
                            div(style="width:45%; float:left;")
                                img(src="/images/impossible.png")
                                img(id="logo", src="/images#{logowhite}", style="width:150px; padding-top:15px;")



                        div.hidden-phone
                            div(style="margin-top:10px;")

                            div.formField.well(style="width:220px; margin-left:65%; margin-top:35px; padding:10px; border:3px solid #373535; background:#0069ad;")
                                form#wideform(action='/#{schoolName}/thankyou',method='post', style="margin:0px;")
                                    div(style="width:100%")
                                        input(type="text", placeholder="Name", required, name="name")

                                    input(type="email", placeholder="Email", required, name="email")
                                    input(type="hidden", value="#{type}", name="type")
                                    input(type="tel", required, placeholder="Text me at: Ex 888-888-8888", name="phone", pattern='\\d{3}[\\-]\\d{3}[\\-]\\d{4}')
                                    select(name="program")
                                        each item in programs
                                            option(value=item) #{item}
                                    textarea(placeholder="Note", name="note")
                                    input.hidden(name="campusid", value="#{campusid}")
                                    button.btn.btn-success.btn-large(style="width:100%;") Get More Info Today

                tr
                    td(style="max-width:924px;")
                        div.hidden-phone
                            div.well.whiteBottom(style="border-top:3px solid #a5a5a5; min-height:300px; ")
                                table(style="width:100%", cellpadding="0", cellspacing="0")
                                    tr
                                        td(width="33%", style="text-align:center;")
                                            a(href="#{url}")
                                                img(src="/images/mainbtn.png")
                                        td(width="33%", style="text-align:center;")
                                            a(href="#{url}/programs/")
                                                img(src="/images/enrollbtn.png")
                                        td(width="33%", style="text-align:center;")
                                            a(href="#{url}/enroll-form/")
                                                img(src="/images/schedulebtn.png")

                                div#contentSection(style="width:100%")
                                    div(style="width:66%; float:left; color:black; font-size:140%") Careers in beauty, cosmetology and hair design today can be both personally and financially rewarding. Following your beauty school education as a Paul Mitchell-trained professional, you will realize your artistic dreams and work as a beauty professional almost anywhere in the world. Whether you choose to create fashion behind a chair in the salon; own your own salon or spa business; or opt for the excitement of a career in fashion, feature film, TV, or product education, a Paul Mitchell School will help you reach your artistic, technical and lifestyle goals.
                                    div(style="float:left")
                                        img(src="/images/areyouit.png")
                            div#footer(style="margin-top:20px;")
                                div(style="color:white; font-size:140%;")
                                    if(financialAid)
                                        span Incredible world-wide network &#8226; Financial Aid is available for those that qualify
                                    else
                                        span Incredible world-wide network &#8226; High income potential


                        div#footer.visible-phone.well.whiteBottom
                            div.formField.well(style="width:220px; margin-left:65%; margin-top:35px; padding:10px; border:3px solid #373535; background:#0069ad;")
                                form#wideform(action='/#{schoolName}/thankyou',method='post', style="margin:0px;")
                                    div(style="width:100%")
                                        input(type="text", placeholder="Name", required, name="name")

                                    input(type="email", placeholder="Email", required, name="email")
                                    input(type="hidden", value="#{type}", name="type")
                                    input(type="tel", required, placeholder="Text me at: Ex 888-888-8888", name="phone", pattern='\\d{3}[\\-]\\d{3}[\\-]\\d{4}')
                                    select(name="program")
                                        each item in programs
                                            option(value=item) #{item}
                                    textarea(placeholder="Note", name="note")
                                    input.hidden(name="campusid", value="#{campusid}")
                                    button.btn.btn-success.btn-large(style="width:100%;") Get More Info Today
                            div(style="color:black; font-size:140%") Careers in beauty, cosmetology and hair design today can be both personally and financially rewarding. Following your beauty school education as a Paul Mitchell-trained professional, you will realize your artistic dreams and work as a beauty professional almost anywhere in the world. Whether you choose to create fashion behind a chair in the salon; own your own salon or spa business; or opt for the excitement of a career in fashion, feature film, TV, or product education, a Paul Mitchell School will help you reach your artistic, technical and lifestyle goals.
        if indexCode
            script.
                /* <![CDATA[ */
                var google_conversion_id = 986875565;
                var google_conversion_language = "en";
                var google_conversion_format = "3";
                var google_conversion_color = "ffffff";
                var google_conversion_label = "#{indexCode}";
                var google_conversion_value = 0;
                /* ]]> */
            script(src="//www.googleadservices.com/pagead/conversion.js")
            noscript
                div(style="display:inline;")
                    img(height="1", width="1", style="border-style:none;", alt="", src="//www.googleadservices.com/pagead/conversion/986875565/?value=0&amp;label=#{indexCode}&amp;guid=ON&amp;script=0")