doctype 5
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(type="text/javascript", src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js")
        script(type="text/javascript", src="/javascripts/base.js")
        script(type="text/javascript", src="/javascripts/bootstrap.min.js")
        script(type="text/javascript", src="http://d3js.org/d3.v3.min.js")
        script(type="text/javascript", src="http://d3js.org/topojson.v1.min.js")
        script(src="/javascripts/lodash.js")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
        meta(name="keywords", content="beauty school, cosmetology school, hair school, paul mitchell the school, esthetics school, esthetician school / skin academy, nails school, barbering school")
  body
    block content
    script.
      var _paq = _paq || [];
          _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
          _paq.push(["trackPageView"]);
          _paq.push(["enableLinkTracking"]);
                  (function() {
            var u=(("https:" == document.location.protocol) ? "https" : "http") + "://184.73.225.55/piwik/";
            _paq.push(["setTrackerUrl", u+"piwik.php"]);
            _paq.push(["setSiteId", "112"]);
            var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
            g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
          })();